<div class="row">
  <div class="col-md-12">
    <div  style="color: black;">
      <carousel [noPause]="true">
        <slide>
          <img src="/assets/images/008-3.jpg" alt="First slide" style="display: block; width: 100%; height: calc(100% / 8 - 0px); align-self: auto; margin-bottom: 0px;">
          <div class="carousel-caption d-none d-md-block"> 
            <h3 style="color: black;">Conjuntos</h3>
            <p style="color: black;">Un sueños para disfrutar, colchones y somiers</p>
          </div>
        </slide>
        <slide>
          <img src="/assets/images/016-3.jpg" alt="Second slide" style="display: block; width: 100%; height: calc(100% / 8 - 0px);align-self: auto;">
          <div class="carousel-caption d-none d-md-block">
            <h3 style="color: black;">Sábanas</h3>
            <p style="color: black;">La delicadeza y suavidad te envuelve</p>
          </div>
        </slide>
        <slide>
          <img src="/assets/images/024-3.jpg" alt="Third slide" style="display: block; width: 100%; height: calc(100% / 8 - 0px);align-self: auto;">
          <div class="carousel-caption d-none d-md-block">
            <h3 style="color: black;">Almohadas</h3>
            <p style="color: black;">El apoyo de tu conciencia, solo descansará</p>
          </div>
        </slide>
        <slide>
          <img src="/assets/images/053-3.jpg" alt="Third slide" style="display: block; width: 100%; height: calc(100% / 8 - 0px);align-self: auto;">
          <div class="carousel-caption d-none d-md-block">
            <h3 style="color: black;">Tu vida</h3>
            <p style="color: black;">Solo una vida plena de disfrutar un buen descanso, traerá la alegrías de un despertar</p>
          </div>
        </slide>
        <slide>
          <img src="/assets/images/054-3.jpg" alt="Third slide" style="display: block; width: 100%; height: calc(100% / 8 - 0px);align-self: auto;">
          <div class="carousel-caption d-none d-md-block">
            <h3 style="color: black;">Tu futuro</h3>
            <p style="color: black;">El apoyo en tus inicios se envuelve en los recuerdos felices de algo suave</p>
          </div>
        </slide>       
      </carousel>
      </div>
  </div>
</div>
<app-destacado></app-destacado>
<app-myabout></app-myabout>
<app-foot></app-foot>