
<div class="card" style="width: 18rem; height: 25rem;" *ngFor="let articulo of arrayproductos; let i=index">
    <img class="card-img-top" style="width:160px; height:160px; align-self: center;"  src="{{articulo.ruta}}{{articulo.nom_imgagen}}" alt="Card image cap">
    <div class="card-body">
        <h6 class="card-title text-center">{{articulo.nom_tipo_prod}}</h6>
        <h6 class="card-text text-center"><small>{{articulo.nom_marca}}-{{articulo.nom_modelo}}</small></h6>     
    </div>
    <div>
        <p class="card-text"><small>Desc-{{articulo.idproducto}}: {{articulo.material_interno}}</small></p>
    </div>
    <div>
        <p class="price text-center"><strong>${{articulo.precio_sugerido/1000}}</strong></p>  
    </div>  
</div>          

