<div class="row" *ngFor="let articulo of arrayproductos; let i=index">    
        <div class="row">
            <div class="col-4">
                <img class="img-responsive" src="/assets/images/{{articulo.nom_imgagen}}" style="width: 100%; height: 400px; align-self: center;" alt="">
            </div>
            <div class="col-8">                
                    <h3><a href="">{{articulo.nom_tipo_prod}}</a></h3>
                    <h4><small>{{articulo.nom_marca}}-{{articulo.nom_modelo}}</small></h4>
                    <p>Desc-{{articulo.idproducto}}: {{articulo.material_externo}}</p>                   
                    <p>Características: {{articulo.material_interno}}</p>
                    <p>Det. Adicional: {{articulo.descripcion_adicional}}</p>
                    <p>Alto: {{articulo.alto}} x Ancho: {{articulo.ancho}} x Largo: {{articulo.largo}}</p>
                    <p>Garantia: {{articulo.garantia}}</p>
                    <p>Precio: <strong>$ {{articulo.valor_unitario}}</strong></p> 
                    <a href="#" class="btn btn-primary" [routerLink]="">Comprar Mercado libre</a>
                    <label for="show">
                        <span><i class="fa fa-money"><strong><u>Condiciones de Pago</u></strong></i></span>
                    </label>
                    <input type="radio" id="show" name="group">                                      
                    <div id="content">
                        <p>Precio contado hasta en 6 cuotas con tarjetas de crédito</p>
                        <p>Precio contado efectivo 10% descuento</p>
                        <p>Valor normal en 12 cuotas con tarjetas de crédito</p>
                        <label for="hide">
                            <span>[Ocultar]</span>
                        </label>
                        <input type="radio" id="hide" name="group"> 
                    </div> 
            </div>   
        </div>                      
</div>   

<app-myabout></app-myabout>
<app-foot class="container-fluid"></app-foot>


  