<div class="row" *ngFor="let articulo of arrayproductos; let i=index">
    
        <div class="row">
            <div class="col-4">
                <img class="img-responsive" src="{{articulo.ruta}}{{articulo.nom_imgagen}}" style="width: 100%; height: 400px; align-self: center;" alt="">
            </div>
            <div class="col-8">
                <h3><a href="">{{articulo.nom_tipo_prod}}</a></h3>
                <h4><small>{{articulo.nom_marca}}-{{articulo.nom_modelo}}</small></h4>
                <p>Desc-{{articulo.idproducto}}: {{articulo.material_externo}}</p>
                <p>Características: {{articulo.material_interno}}</p>
                <p>Det. Adicional: {{articulo.descripcion_adicional}}</p>
                <p>Alto: {{articulo.alto}} x Ancho: {{articulo.ancho}} x Largo: {{articulo.largo}}</p>
                <p>Garantia: {{articulo.garantia}}</p>
                <p>Precio: <strong>$ {{articulo.precio_sugerido/1000}}</strong></p>  
                <a href="#" class="btn btn-primary" [routerLink]="">Comprar Mercado libre</a>   
            </div>            
        </div>              
</div>

<app-foot></app-foot>


  