.card-deck{
    padding-left: 50px;
}
.card-body{
    padding: 5px;
    text-align: justify;
}
.card-footer{
    display: flex;
    justify-content: center;
}
.menusito{
    padding: 5px 15px;
    padding-left: 15px;
    font-family: "Newborough", Arial, Helvetica, sans-serif; 
    font-size: 24px;
    display: block;
    position: absolute;
}

ul, ol{
    list-style: none;
}


.nav li a:hover{
    background-color: rgb(226, 230, 236); 
}
