<div class="row" style="background-color: rgb(52, 143, 185);">
    <div class="col-md-4 text-light">        
        <ul>
            <h4> Horarios de atención</h4>
            <li class="d-flex">Lunes <span class="time ml-auto"> mañana->9:00-13:00 tarde->16:00-20:00</span></li>
            <li class="d-flex">Martes <span class="time ml-auto"> mañana->9:00-13:00 tarde->16:00-20:00</span></li>
            <li class="d-flex">Miércoles<span class="time ml-auto"> mañana->9:00-13:00 tarde->16:00-20:00</span></li>
            <li class="d-flex">Jueves <span class="time ml-auto"> mañana->9:00-13:00 tarde->16:00-20:00</span></li>
            <li class="d-flex">Viernes <span class="time ml-auto"> mañana->9:00-13:30 tarde->16:00-20:00</span></li>
            <li class="d-flex">Sábado <span class="time ml-auto"> mañana->9:00-13:00 tarde->16:00-20:00</span></li>
            <li class="d-flex">Domingo<span class="time ml-auto">**************** cerrado *****************</span></li>
        </ul>
    </div>
    <div class="col-md-4 text-light">  
        <ul>
            <h4>Nuestra dirección</h4>
            <li>
                <span class="fa fa-map-marker icons-left" aria-hidden="true">  Gdor. Inocencio Arias 2215 Castelar, Gran Buenos Aires</span>                           
            </li>
            <li>
                <span class="fa fa-map-marker icons-left" aria-hidden="true"> Av. Rivadavia 21526 Ituzaingó, Gran Buenos Aires</span>                           
            </li>
            <li>
                <span class="fa fa-phone icons-left" aria-hidden="true"> +54-011 4627-5454</span>
            </li>
            <li>
                <span class="fa fa-envelope"><a>  info@lablanqueria.com.ar</a></span>
            </li>
            <li>
                <span class="fa fa-fax" aria-hidden="true">  +54-911-1111-1111</span>
            </li>
            <li>
                <span class="fa fa-windows" aria-hidden="true">  http//www.lablanquería.com.ar</span>
            </li>
        </ul>
    </div>
    <div class="col-md-4 text-light">        
        <ul>
            <h4> Siguenos en nuestras redes</h4>
            <li>
                <span class="fa fa-facebook" aria-hidden="true">  Facebook</span>
            </li>
            <li>
                <span class="fa fa-instagram" aria-hidden="true">  Instagram</span>
            </li>
        </ul>
    </div>
  </div>
<footer class="col-md-12" style="text-align: center; background-color: rgb(226, 230, 236);">
    <p>© 2020 La Blanquería creada en 1980</p>
</footer>
