<div class="row" style="background-color: rgb(52, 143, 185);">
    <div class="col-md-4 text-light">   
            <h4> Horarios de atención</h4>
            <span class="time ml-auto"> Lunes  mañana->9:00-13:00 tarde->16:00-20:00</span>
            <span class="time ml-auto"> Martes mañana->9:00-13:00 tarde->16:00-20:00</span>
            <span class="time ml-auto">Mi&eacute;rcoles mañana->9:00-13:00 tarde->16:00-20:00</span>
            <span class="time ml-auto">Jueves mañana->9:00-13:00 tarde->16:00-20:00</span>
            <span class="time ml-auto">Viernes mañana->9:00-13:30 tarde->16:00-20:00</span>
            <span class="time ml-auto">S&aacute;bado  mañana->9:00-13:00 tarde->16:00-20:00</span>
            <span class="time ml-auto">Domingo**************** cerrado *****************</span>
    </div>
    <div class="col-md-4 text-light">  
        <ul>
            <h4>Nuestra dirección</h4>
            <li>
                <span class="fa fa-map-marker icons-left" aria-hidden="true">  Gdor. Inocencio Arias 2215 Castelar, Gran Buenos Aires</span>                           
            </li>
            <li>
                <span class="fa fa-map-marker icons-left" aria-hidden="true"> Av. Néstor Carlos Kirchner (Ex Av.Rivadavia) 21529 Ituzaing&oacute;, Gran Buenos Aires</span>                           
            </li>
            <li>
                <span class="fa fa-phone icons-left" aria-hidden="true"> +54-011 4627-5454</span>
            </li>
            <li>
                <span class="fa fa-envelope"><a>  info@lablanqueria.com.ar</a></span>
            </li>
            <li>
                <span class="fa fa-fax" aria-hidden="true">  +54-911-4458-1183</span>
            </li>
            <li>
                <span class="fa fa-windows" aria-hidden="true">  http//www.lablanquer&iacute;a.com.ar</span>
            </li>
        </ul>
    </div>
    <div class="col-md-4 text-light">        
        <ul>
            <h4> S&iacute;guenos en nuestras redes</h4>
            <li>
                <span class="fa fa-facebook" aria-hidden="true">  Facebook</span>
            </li>
            <li>
                <span class="fa fa-instagram" aria-hidden="true">  Instagram</span>
            </li>
        </ul>
    </div>
</div>
<div class="row">
<footer class="col-md-12" style="text-align: center; background-color: rgb(226, 230, 236);">
    <p>© 2020 La Blanquer&iacute;a creada en 1988</p>
</footer>    
</div> 
