<h4 class="text-center">PRODUCTOS DESTACADOS</h4>    
<div class="card-deck">    
    <div class="card" style="width: 18rem; height: 25rem;">
        <img class="card-img-top" style="width:160px; height:160px; align-self: center;"  src="/assets/images/colchon001.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Colchón Renovation</h5>
          <p class="card-text">De la marca Piero, suavidad, confort, son algunas de sus características</p>     
        </div>
        <div class="card-footer center-block">
            <a href="#" class="btn btn-primary">Ver detalle</a>
        </div>
    </div>
    <div class="card" style="width: 18rem; height: 25rem;">
        <img class="card-img-top" style="width:160px; height:160px; align-self: center;" src="/assets/images/colchon002.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-primary">Ver detalle</a>
        </div>
    </div>
    <div class="card" style="width: 18rem; height: 25rem;">
        <img class="card-img-top" style="width:160px; height:160px; align-self: center;" src="/assets/images/colchon003.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Colchón Super</h5>
          <p class="card-text">De la marca Piero, suavidad, confort, resortes.</p>
         
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-primary">Ver detalle</a>
        </div>
    </div>
    <div class="card" style="width: 18rem; height: 25rem;">
        <img class="card-img-top" style="width:160px; height:160px; align-self: center;"  src="/assets/images/colchon004.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-primary">Ver detalle</a>
        </div>
    </div>
    <div class="card" style="width: 18rem; height: 25rem;">
        <img class="card-img-top" style="width:160px; height:160px; align-self: center;"  src="/assets/images/001.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-primary">Ver detalle</a>
        </div>
    </div>
    <div class="card" style="width: 18rem; height: 25rem;">
        <img class="card-img-top" style="width:160px; height:160px; align-self: center;"  src="/assets/images/002.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-primary">Ver detalle</a>
        </div>
    </div>
</div>
<div class="card-deck">    
    <div class="card" style="width: 18rem; height: 25rem;">
        <img class="card-img-top" style="width:160px; height:160px; align-self: center;"  src="/assets/images/colchon001.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Colchón Renovation</h5>
          <p class="card-text">De la marca Piero, suavidad, confort, son algunas de sus características</p>
          
        </div>
        <div class="card-footer center-block">
            <a href="#" class="btn btn-primary">Ver detalle</a>
        </div>
    </div>
    <div class="card" style="width: 18rem; height: 25rem;">
        <img class="card-img-top" style="width:160px; height:160px; align-self: center;" src="/assets/images/colchon002.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-primary">Ver detalle</a>
        </div>
    </div>
    <div class="card" style="width: 18rem; height: 25rem;">
        <img class="card-img-top" style="width:160px; height:160px; align-self: center;" src="/assets/images/colchon003.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Colchón Super</h5>
          <p class="card-text">De la marca Piero, suavidad, confort, resortes.</p>
         
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-primary">Ver detalle</a>
        </div>
    </div>
    <div class="card" style="width: 18rem; height: 25rem;">
        <img class="card-img-top" style="width:160px; height:160px; align-self: center;"  src="/assets/images/colchon004.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>   
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-primary">Ver detalle</a>
        </div>
    </div>
    <div class="card" style="width: 18rem; height: 25rem;">
        <img class="card-img-top" style="width:160px; height:160px; align-self: center;"  src="/assets/images/001.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-primary">Ver detalle</a>
        </div>
    </div>
    <div class="card" style="width: 18rem; height: 25rem;">
        <img class="card-img-top" style="width:160px; height:160px; align-self: center;"  src="/assets/images/002.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-primary">Ver detalle</a>
        </div>
    </div>
</div>