 
<div class="col-md-3" *ngFor="let articulo of arrayproductos[0]">    
    <div class="cart-content d-flex">
        <!-- Cart List Area  probar | orderBy:'name':true" -->
        <div class="cart-list">
            <!-- Single Cart Item -->
            <div class="single-cart-item">
                <a href="#" class="product-image">
                    <img src="{{articulo.ruta}}{{articulo.nom_imgagen}}" style="width: 200px; height: 200px;" alt="">
                    <!-- Cart Item Desc --> 
                    <div class="cart-item-desc">
                      <span class="product-remove"><i class="fa fa-close" aria-hidden="true"></i></span>
                        <span class="badge">{{articulo.nom_tipo_prod}}</span>
                        <h6>{{articulo.nom_marca}}-{{articulo.nom_modelo}}</h6>
                        <p class="size">Size: {{articulo.largo}}x{{articulo.ancho}}</p>
                        <p class="color">Desc: {{articulo.material_interno}} </p>
                        <p class="price">${{articulo.precio_sugerido}}</p>
                    </div>
                </a>
            </div>
        </div>    
    </div>
</div>
