.card-deck{
    padding-left: 50px;
}
.card-body{
    padding: 5px;
    text-align: justify;
}
.card-footer{
    display: flex;
    justify-content: center;
}
.menusito{
    padding-left: 10px;
    font-size: 18px;
}