<div class="col-12 elform">
<div class="modal-dialog text-center">
 <div class="col-md-12 main-section">
     <div class="modal-content">
        <div class="col-12 user-img">
            <img src="/assets/images/avatar0.png"/>  
            <legend class="text-center user-header">Contacto</legend>           
        </div>        
        <form (ngSubmit)="contactForm2(form.value)" #form="ngForm">                                       
            <div class="form-group" id="user-group">                     
                <input type="text" hidden="true" disabled="true" class="form-control" id="codigop" name="codigop" ngModel> 
            </div> 
            <div class="form-group" id="user1-group">
                <i class="fa fa-user user1-group"></i>  
                <input type="text" class="form-control" placeholder="Nombre y Apellido" id="fname" name="nombre" ngModel required> 
            </div>                
            <div class="form-group" id="user2-group">
                <i class="fa fa-file user2-group" aria-hidden="true"></i>
                <input type="text" class="form-control" placeholder="Asunto" id="asunto" name="asunto" ngModel required>
            </div>
            <div class="form-group" id="user3-group">
                <i class="fa fa-envelope user3-group"></i>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email" ngModel required>
            </div>
            <div class="form-group" id="user4-group">    
                <i class="fa fa-phone-square user4-group"></i>                   
                <input id="phone" name="phone" type="text" placeholder="Fono/celular" class="form-control" ngModel required>
            </div>
            <div class="form-group" id="user5-group">            
                <i class="fa fa-comment user5-group" aria-hidden="true" ></i>              
                <textarea class="form-control" cols="30" rows="6" name="mensaje" placeholder="Ingresa tus comentarios, proyectos y consultas." ngModel></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button> 
        </form>
     </div>
 </div>
</div>
</div>

<app-myabout></app-myabout>
<app-foot class="container-fluid"></app-foot>