<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(226, 230, 236);">
  <a class="navbar-brand" href="/">      
    <img src="/assets/images/la blanqueria4.jpg"  style="width: 11rem; height: 2rem;" alt=""> 
  </a>
  <button class = "navbar-toggler" type = "button" (click) = "toggleNavbar ()"> 
    <span class = "navbar-toggler-icon"> </span> 
  </button> 
  <div class = "collapse navbar-collapse" [ngClass] = "{'show': navbarOpen}">
      <ul class="navbar-nav ml-auto">        
        <li class="nav-item active">
          <a class="nav-link scroll boton" routerLink="/" routerLinkActive="active">
            <button type="submit" class="btn btn-primary btn-md boton" id="boton">Home</button>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link scroll boton" routerLink="shopping" routerLinkActive="active">
            <button type="submit" class="btn btn-primary btn-md boton" id="boton">Shopping</button>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link scroll boton" routerLink="/envio" routerLinkActive="active">
            <button type="submit" class="btn btn-primary btn-md boton" id="boton">Costos de envío</button>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link scroll boton" routerLink="/location" routerLinkActive="active">
            <button type="submit" class="btn btn-primary btn-md boton" id="boton">Donde estamos</button>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link scroll boton" routerLink="contact" routerLinkActive="active">
            <button type="submit" class="btn btn-primary btn-md boton" id="boton">Contactos</button>
          </a>
        </li>                   
      </ul>
    </div>
  </nav>